
.footer-container {
  height: 250px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
  bottom: 0;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 1);
}
  .footer-body-container{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .footer-body-container-context {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    justify-content: center;
  }
  .footer-body-container-context1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: right;
    justify-content: center;
  }
  .footer-body-logo {
    user-select: none;
    font-size: 70px;
    text-align: left;
    font-weight: bold;
    color: white;
  }
  .footer-body-copyright {
    user-select: none;
    color: gray;
  }
  .footer-body-company {
    user-select: none;
    font-size: 0.8rem;
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 5px;
  }

  @media only screen and (max-width: 420px)  {
    

  .footer-body-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .footer-body-container-context {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  .footer-body-container-context1 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    justify-content: center;
  }
  .footer-body-logo {
    user-select: none;
    font-size: 70px;
    text-align: right;
    font-weight: bold;
    color: white;
  }
  .footer-body-company {
    user-select: none;
    font-size: 0.6rem;
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 5px;
  } 
  }
  @media only screen and (min-width: 421px)  and (max-width: 1500px)  {
    .footer-body-container{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 10px;
      padding-left: 10%;
      padding-right: 10%;
    }
    .footer-body-container-context {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
    }
    .footer-body-container-context1 {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      color: white;
      text-align: left;
      justify-content: center;
    }
    .footer-body-logo {
      user-select: none;
      font-size: 70px;
      text-align: right;
      font-weight: bold;
      color: white;
    }
    .footer-body-company {
      user-select: none;
      font-size: 0.8rem;
      color: whitesmoke;
      font-weight: bold;
      margin-bottom: 5px;
    } 
  }