/* Header.css */
a {
  text-decoration: none;
}
.header-container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  z-index: 1000;
  color: white;
  font-size: 40px;
  background-color: transparent;
}

.header-logo {
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-left: 70px; /* margin-left을 중복으로 설정하지 않도록 수정 */
}
